<div id="title">
    <h1>JysMoll</h1>
</div>
<nav id="nav">
    <ul id="nav-list">
        <li class="nav-list-item">전자기기</li>
        <li class="nav-list-item">로보트</li>
        <li class="nav-list-item">배달음식</li>
        <li class="nav-list-item">패스트푸드</li>
        <li class="nav-list-item">앙기모띠</li>
    </ul>
</nav>
<div id="members">
    <label id="signin">SignIn</label>
    <label id="signup">SignUp</label>
    <label id="myinfo" hidden>MyInfo</label>
    <label id="logout" hidden>Logout</label>
</div>