<div id="title">
    <a href="/"><h1>JysMoll</h1></a>
</div>
<body>
    <nav id="nav">
        <ul id="nav-list">
            <li class="nav-list-item">
                <div class="nav-list-item-detail">
                    <label>언어</label>
                    <a class="nav-list-item-sub" hidden>한글</a>
                    <a class="nav-list-item-sub" hidden>영어</a>
                    <a class="nav-list-item-sub" hidden>불어</a>
                    <a class="nav-list-item-sub" hidden>중어</a>
                    <a class="nav-list-item-sub" hidden>일어</a>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="nav-list-item-detail">
                    <label>수학</label>
                    <a class="nav-list-item-sub" hidden>미적분</a>
                    <a class="nav-list-item-sub" hidden>기하와벡터</a>
                    <a class="nav-list-item-sub" hidden>확률과통계</a>
                    <a class="nav-list-item-sub" hidden>선형대수학</a>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="nav-list-item-detail">
                    <label>과학</label>
                    <a class="nav-list-item-sub" hidden>물리</a>
                    <a class="nav-list-item-sub" hidden>화학</a>
                    <a class="nav-list-item-sub" hidden>생물</a>
                    <a class="nav-list-item-sub" hidden>지구</a>
                </div>

            </li>
            <li class="nav-list-item">
                <div class="nav-list-item-detail">
                    <label>예체능</label>
                    <a class="nav-list-item-sub" hidden>음악</a>
                    <a class="nav-list-item-sub" hidden>미술</a>
                    <a class="nav-list-item-sub" hidden>체육</a>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="nav-list-item-detail">
                    <label>컴퓨터</label>
                    <a class="nav-list-item-sub" hidden>알고리즘</a>
                    <a class="nav-list-item-sub" hidden>데이터베이스</a>
                    <a class="nav-list-item-sub" hidden>프로그래밍</a>
                    <a class="nav-list-item-sub" hidden>자료구조</a>
                    <a class="nav-list-item-sub" hidden>운영체제</a>
                    <a class="nav-list-item-sub" hidden>하드웨어</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="members">
        <a id="signin" href="/signin">SignIn</a>
        <a id="signup" href="/signup">SignUp</a>
        <a id="cart" href="/myinfo/carts" hidden>🛒</a>
        <a id="myinfo" href="/myinfo" hidden>MyInfo</a>
        <a id="logout" href="/signout" hidden>Logout</a>
    </div>
</body>