@import "reset.css";
@import "fragments.css";

#article {
    height: 100%;
}

#article h2 {
    margin: 3rem 0;
}

#product-detail-form {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 30%;
}

#product-title {
    flex-basis: 80%;
    height: 30px;
    margin-bottom: 2rem;
}

#product-description {
    width: 200px;
    flex-shrink: 0;
    resize: none;
    height: 200px;
    margin-bottom: 2rem;
}

#product-detail-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-bottom: 2rem;
}

#product-price {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 30px;
}

#product-type {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 30px;
}

#product-button-list {
    width: 50%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 2rem;
}

#product-buy {
    grid-column: 1/4;
    grid-row: 1/2;
}

#product-cart {
    grid-column: 1/2;
    grid-row: 2/3;
}

#product-referrer {
    grid-column: 2/3;
    grid-row: 2/3;
}

#product-list {
    grid-column: 3/4;
    grid-row: 2/3;
}

@media (min-width: 800px) {
    #product-description {
        flex-basis: 80%;
        flex-shrink: 1;
    }
}

@media (min-width: 1200px) {
    #product-detail-info {
        grid-template-columns: 1fr 1fr;
    }

    #product-price {
        gird-column: 1/2;
        grid-row: 1/2;
    }

    #product-type {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}