<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="login" th:content="${session.USER}">
    <title>JysMoll Index</title>
    <link rel="stylesheet" href="css/home.css"/>
</head>
<body>
    <div id="container">
        <header id="header"></header>
        <article id="article">
            <h2>인기 상품</h2>
            <div id="best-product-list-container">
                <label class="best-selector" id="best-left" onclick="left()">❮</label>
                <ul id="best-product-list">
                    <li class="best-product" onclick="location.href='http://localhost/products/1'">
                        <figure class="product-image" style="background-image: url(images/product.png)" >
                            <img src="images/product.png" alt="상품이미지">
                        </figure>
                        <div class="product-info">
                            <label class="product-title">Test1</label>
                            <label class="referrer-desc">추천수</label>
                            <label class="product-referrer">5</label>
                            <label class="price-desc">가격</label>
                            <label class="product-price">10000</label>
                        </div>
                    </li>
                    <li class="best-product" onclick="location.href='http://localhost/products/1'">
                        <figure class="product-image" style="background-image: url(images/product.png)" >
                            <img src="images/product.png" alt="상품이미지">
                        </figure>
                        <div class="product-info">
                            <label class="product-title">Test2</label>
                            <label class="referrer-desc">추천수</label>
                            <label class="product-referrer">5</label>
                            <label class="price-desc">가격</label>
                            <label class="product-price">10000</label>
                        </div>
                    </li>
                    <li class="best-product" onclick="location.href='http://localhost/products/1'">
                        <figure class="product-image" style="background-image: url(images/product.png)" >
                            <img src="images/product.png" alt="상품이미지">
                        </figure>
                        <div class="product-info">
                            <label class="product-title">Test3</label>
                            <label class="referrer-desc">추천수</label>
                            <label class="product-referrer">5</label>
                            <label class="price-desc">가격</label>
                            <label class="product-price">10000</label>
                        </div>
                    </li>
                    <li class="best-product" onclick="location.href='http://localhost/products/1'">
                        <figure class="product-image" style="background-image: url(images/product.png)" >
                            <img src="images/product.png" alt="상품이미지">
                        </figure>
                        <div class="product-info">
                            <label class="product-title">Test4</label>
                            <label class="referrer-desc">추천수</label>
                            <label class="product-referrer">5</label>
                            <label class="price-desc">가격</label>
                            <label class="product-price">10000</label>
                        </div>
                    </li>
                    <li class="best-product" onclick="location.href='http://localhost/products/1'">
                        <figure class="product-image" style="background-image: url(images/product.png)" >
                            <img src="images/product.png" alt="상품이미지">
                        </figure>
                        <div class="product-info">
                            <label class="product-title">Test5</label>
                            <label class="referrer-desc">추천수</label>
                            <label class="product-referrer">5</label>
                            <label class="price-desc">가격</label>
                            <label class="product-price">10000</label>
                        </div>
                    </li>
                    <li class="best-product" onclick="location.href='http://localhost/products/1'">
                        <figure class="product-image" style="background-image: url(images/product.png)" >
                            <img src="images/product.png" alt="상품이미지">
                        </figure>
                        <div class="product-info">
                            <label class="product-title">Test6</label>
                            <label class="referrer-desc">추천수</label>
                            <label class="product-referrer">5</label>
                            <label class="price-desc">가격</label>
                            <label class="product-price">10000</label>
                        </div>
                    </li>
                    <li class="best-product" onclick="location.href='http://localhost/products/1'">
                        <figure class="product-image" style="background-image: url(images/product.png)" >
                            <img src="images/product.png" alt="상품이미지">
                        </figure>
                        <div class="product-info">
                            <label class="product-title">Test7</label>
                            <label class="referrer-desc">추천수</label>
                            <label class="product-referrer">5</label>
                            <label class="price-desc">가격</label>
                            <label class="product-price">10000</label>
                        </div>
                    </li>
                    <li class="best-product" onclick="location.href='http://localhost/products/1'">
                        <figure class="product-image" style="background-image: url(images/product.png)" >
                            <img src="images/product.png" alt="상품이미지">
                        </figure>
                        <div class="product-info">
                            <label class="product-title">Test8</label>
                            <label class="referrer-desc">추천수</label>
                            <label class="product-referrer">5</label>
                            <label class="price-desc">가격</label>
                            <label class="product-price">10000</label>
                        </div>
                    </li>
                    <li class="best-product" onclick="location.href='http://localhost/products/1'">
                        <figure class="product-image" style="background-image: url(images/product.png)" >
                            <img src="images/product.png" alt="상품이미지">
                        </figure>
                        <div class="product-info">
                            <label class="product-title">Test9</label>
                            <label class="referrer-desc">추천수</label>
                            <label class="product-referrer">5</label>
                            <label class="price-desc">가격</label>
                            <label class="product-price">10000</label>
                        </div>
                    </li>
                    <li class="best-product" onclick="location.href='http://localhost/products/1'">
                        <figure class="product-image" style="background-image: url(images/product.png)" >
                            <img src="images/product.png" alt="상품이미지">
                        </figure>
                        <div class="product-info">
                            <label class="product-title">Test10</label>
                            <label class="referrer-desc">추천수</label>
                            <label class="product-referrer">5</label>
                            <label class="price-desc">가격</label>
                            <label class="product-price">10000</label>
                        </div>
                    </li>
                    <li class="best-product" onclick="location.href='http://localhost/products/1'">
                        <figure class="product-image" style="background-image: url(images/product.png)" >
                            <img src="images/product.png" alt="상품이미지">
                        </figure>
                        <div class="product-info">
                            <label class="product-title">Test10</label>
                            <label class="referrer-desc">추천수</label>
                            <label class="product-referrer">5</label>
                            <label class="price-desc">가격</label>
                            <label class="product-price">10000</label>
                        </div>
                    </li>
                </ul>
                <label class="best-selector" id="best-right" onclick="right()">❯</label>
            </div>
            <h2>전체 상품</h2>
            <ul id="product-list">
                <li class="product" onclick="location.href='http://localhost/products/1'">
                    <figure class="product-image" style="background-image: url(images/product.png)" >
                        <img src="images/product.png" alt="상품이미지">
                    </figure>
                    <div class="product-info">
                        <label class="product-title">Test</label>
                        <label class="referrer-desc">추천수</label>
                        <label class="product-referrer">5</label>
                        <label class="price-desc">가격</label>
                        <label class="product-price">10000</label>
                    </div>
                </li>
                <li class="product" onclick="location.href='http://localhost/products/1'">
                    <figure class="product-image" style="background-image: url(images/product.png)" >
                        <img src="images/product.png" alt="상품이미지">
                    </figure>
                    <div class="product-info">
                        <label class="product-title">Test</label>
                        <label class="referrer-desc">추천수</label>
                        <label class="product-referrer">5</label>
                        <label class="price-desc">가격</label>
                        <label class="product-price">10000</label>
                    </div>
                </li>
                <li class="product" onclick="location.href='http://localhost/products/1'">
                    <figure class="product-image" style="background-image: url(images/product.png)" >
                        <img src="images/product.png" alt="상품이미지">
                    </figure>
                    <div class="product-info">
                        <label class="product-title">Test</label>
                        <label class="referrer-desc">추천수</label>
                        <label class="product-referrer">5</label>
                        <label class="price-desc">가격</label>
                        <label class="product-price">10000</label>
                    </div>
                </li>
                <li class="product" onclick="location.href='http://localhost/products/1'">
                    <figure class="product-image" style="background-image: url(images/product.png)" >
                        <img src="images/product.png" alt="상품이미지">
                    </figure>
                    <div class="product-info">
                        <label class="product-title">Test</label>
                        <label class="referrer-desc">추천수</label>
                        <label class="product-referrer">5</label>
                        <label class="price-desc">가격</label>
                        <label class="product-price">10000</label>
                    </div>
                </li>
                <li class="product" onclick="location.href='http://localhost/products/1'">
                    <figure class="product-image" style="background-image: url(images/product.png)" >
                        <img src="images/product.png" alt="상품이미지">
                    </figure>
                    <div class="product-info">
                        <label class="product-title">Test</label>
                        <label class="referrer-desc">추천수</label>
                        <label class="product-referrer">5</label>
                        <label class="price-desc">가격</label>
                        <label class="product-price">10000</label>
                    </div>
                </li>
                <li class="product" onclick="location.href='http://localhost/products/1'">
                    <figure class="product-image" style="background-image: url(images/product.png)" >
                        <img src="images/product.png" alt="상품이미지">
                    </figure>
                    <div class="product-info">
                        <label class="product-title">Test</label>
                        <label class="referrer-desc">추천수</label>
                        <label class="product-referrer">5</label>
                        <label class="price-desc">가격</label>
                        <label class="product-price">10000</label>
                    </div>
                </li>
                <li class="product" onclick="location.href='http://localhost/products/1'">
                    <figure class="product-image" style="background-image: url(images/product.png)" >
                        <img src="images/product.png" alt="상품이미지">
                    </figure>
                    <div class="product-info">
                        <label class="product-title">Test</label>
                        <label class="referrer-desc">추천수</label>
                        <label class="product-referrer">5</label>
                        <label class="price-desc">가격</label>
                        <label class="product-price">10000</label>
                    </div>
                </li>
                <li class="product" onclick="location.href='http://localhost/products/1'">
                    <figure class="product-image" style="background-image: url(images/product.png)" >
                        <img src="images/product.png" alt="상품이미지">
                    </figure>
                    <div class="product-info">
                        <label class="product-title">Test</label>
                        <label class="referrer-desc">추천수</label>
                        <label class="product-referrer">5</label>
                        <label class="price-desc">가격</label>
                        <label class="product-price">10000</label>
                    </div>
                </li>
                <li class="product" onclick="location.href='http://localhost/products/1'">
                    <figure class="product-image" style="background-image: url(images/product.png)" >
                        <img src="images/product.png" alt="상품이미지">
                    </figure>
                    <div class="product-info">
                        <label class="product-title">Test</label>
                        <label class="referrer-desc">추천수</label>
                        <label class="product-referrer">5</label>
                        <label class="price-desc">가격</label>
                        <label class="product-price">10000</label>
                    </div>
                </li>
                <li class="product" onclick="location.href='http://localhost/products/1'">
                    <figure class="product-image" style="background-image: url(images/product.png)" >
                        <img src="images/product.png" alt="상품이미지">
                    </figure>
                    <div class="product-info">
                        <label class="product-title">Test</label>
                        <label class="referrer-desc">추천수</label>
                        <label class="product-referrer">5</label>
                        <label class="price-desc">가격</label>
                        <label class="product-price">10000</label>
                    </div>
                </li>
                <li class="product" onclick="location.href='http://localhost/products/1'">
                    <figure class="product-image" style="background-image: url(images/product.png)" >
                        <img src="images/product.png" alt="상품이미지">
                    </figure>
                    <div class="product-info">
                        <label class="product-title">Test</label>
                        <label class="referrer-desc">추천수</label>
                        <label class="product-referrer">5</label>
                        <label class="price-desc">가격</label>
                        <label class="product-price">10000</label>
                    </div>
                </li>
                <li class="product" onclick="location.href='http://localhost/products/1'">
                    <figure class="product-image" style="background-image: url(images/product.png)" >
                        <img src="images/product.png" alt="상품이미지">
                    </figure>
                    <div class="product-info">
                        <label class="product-title">Test</label>
                        <label class="referrer-desc">추천수</label>
                        <label class="product-referrer">5</label>
                        <label class="price-desc">가격</label>
                        <label class="product-price">10000</label>
                    </div>
                </li>
                <li class="product" onclick="location.href='http://localhost/products/1'">
                    <figure class="product-image" style="background-image: url(images/product.png)" >
                        <img src="images/product.png" alt="상품이미지">
                    </figure>
                    <div class="product-info">
                        <label class="product-title">Test</label>
                        <label class="referrer-desc">추천수</label>
                        <label class="product-referrer">5</label>
                        <label class="price-desc">가격</label>
                        <label class="product-price">10000</label>
                    </div>
                </li>
            </ul>
        </article>
        <footer id="footer"></footer>
    </div>
    <script type="application/javascript" src="js/main.js"></script>
    <script type="application/javascript" src="js/sliderbar.js"></script>
</body>
</html>