<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="login" th:content="${session.USER}">
    <title>JysMoll MyInfo</title>
    <link rel="stylesheet" href="css/myinfo.css" />
</head>
<body>
    <div id="container">
        <header id="header"></header>
        <aside id="aside"></aside>
        <article id="article">
            <h2>내 정보</h2>
            <form id="myinfo-form">
                <label class="myinfo-label">아이디 : </label><input class="member-input" id="member-id" type="text" th:value="${username}" readonly />
                <label class="myinfo-label">닉네임 : </label><input class="member-input" id="member-nickname" type="text" th:value="${nickname}" readonly />
                <label class="myinfo-label">소유금 : </label><input class="member-input" id="member-money" type="text" th:value="${money}" readonly />
                <label class="myinfo-label">계급 : </label><input class="member-input" id="member-grade" type="text" th:value="${grade}" readonly />
            </form>
        </article>
        <footer id="footer"></footer>
    </div>
    <script type="application/javascript" src="js/main.js"></script>
    <script type="application/javascript">includeHtml("aside", "../fragments/aside.html");</script>
</body>
</html>