<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="login" th:content="${session.USER}">
    <title>JysMoll Product Details</title>
    <link rel="stylesheet" href="../css/productdetail.css"/>
</head>
<body>
    <div id="container">
        <header id="header"></header>
        <article id="article">
            <h2>상품정보</h2>
            <div id="product-detail-form" th:with="p=${product}" method="post">
                <input name="productName" id="product-title" type="text" th:value="${p.productName}" readonly />
                <textarea name="description" id="product-description" type="text" th:text="${p.description}" readonly ></textarea>
                <div id="product-detail-info">
                    <input id="product-price" type="text" th:value="'💲 ' + ${p.value}" readonly />
                    <input id="product-type" type="text" th:value="'👁️‍🗨️ ' + ${p.view} + ' ❤ ' + ${p.recommends}" readonly />
                </div>
                <div id="product-button-list">
                    <form id="product-buy" action="/orders" method="post">
                        <input id="product-buy-button" type="submit" value="💲" readonly />
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input name="orderId" type="hidden" th:value="${p.productId}"/>
                    </form>
                    <input id="product-referrer" type="button" value="👍" th:onclick="'location.href = \'' + @{/products/{id}/recommend(id=${p.productId})} +'\''" readonly />
                    <form action="/carts" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" name="productId" th:value="${p.productId}">
                        <input type="hidden" name="title" th:value="${p.productName}">
                        <input type="hidden" name="description" th:value="${p.description}">
                        <input type="hidden" name="value" th:value="${p.value}">
                        <input id="product-cart" type="submit" value="🛒" readonly />
                    </form>
                    <input id="product-list" type="button" value="📃" th:onclick="'location.href = \'' + @{/products?category=__${p.category}__} +'\''" readonly />
                    <!--<input th:if="${p.isCreated()}" id="product-remove" type="button" value="❌" th:onclick="'location.href = \'' + @{/products/{id}(id=${p.productId})} +'\''" readonly />-->
                </div>
            </div>
        </article>
        <footer id="footer"></footer>
    </div>
    <script type="application/javascript" src="../js/main.js"></script>
</body>
</html>