<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="login" th:content="${session.USER}">
    <title>JysMoll Index</title>
    <link rel="stylesheet" href="css/products.css"/>
</head>
<body>
    <div id="container">
        <header id="header"></header>
        <aside id="aside"></aside>
        <article id="article">
            <ul id="product-list">
                <li th:each="item : ${all}" class="product" th:onclick="'window.location.href = \'' + @{/products/{id}(id=${item.productId})} + '\''">
                    <figure class="product-image" style="background-image: url(images/product.png)" >
                        <img src="images/product.png" alt="상품이미지">
                    </figure>
                    <div class="product-info">
                        <label class="product-title" th:text="${item.productName}"></label>
                        <label class="referrer-desc">❤</label>
                        <label class="product-referrer" th:text="${item.recommends}"></label>
                        <label class="view-desc">👁️‍🗨️</label>
                        <label class="product-view" th:text="${item.view}"></label>
                        <label class="price-desc">💲</label>
                        <label class="product-price" th:text="${item.value}"></label>
                    </div>
                </li>
            </ul>
            <label id="product-left" onclick="">‹</label>
            <span th:each="i : ${#numbers.sequence(1, page.totalPage)}" th:with="condition=${i==page.number}">
                <strong th:if="${condition}"><label th:text="${i}"></label></strong>
                <label th:unless="${condition}" th:text="${i}"></label>
            </span>
            <label id="product-right" onclick="">›</label>
        </article>
        <footer id="footer"></footer>
    </div>
    <script type="application/javascript" src="js/main.js"></script>
    <script type="application/javascript">includeHtml("aside", "fragments/searchBar.html");</script>
</body>
</html>