<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="login" th:content="${session.USER}">
    <title>JysMoll Index</title>
    <link rel="stylesheet" href="css/products.css"/>
</head>
<body>
    <div id="container">
        <header id="header"></header>
        <aside id="aside"></aside>
        <article id="article">
            <ul id="product-list">
                <li th:each="item : ${all}" class="product" th:onclick="'window.location.href = \'' + @{/products/{id}(id=${item.productId})} + '\''">
                    <figure class="product-image" style="background-image: url(images/product.png)" >
                        <img src="images/product.png" alt="상품이미지">
                    </figure>
                    <div class="product-info">
                        <label class="product-title" th:text="${item.productName}"></label>
                        <label class="referrer-desc">❤</label>
                        <label class="product-referrer" th:text="${item.recommends}"></label>
                        <label class="view-desc">👁️‍🗨️</label>
                        <label class="product-view" th:text="${item.view}"></label>
                        <label class="price-desc">💲</label>
                        <label class="product-price" th:text="${item.value}"></label>
                    </div>
                </li>
            </ul>
            <div id="page-selector">
                <label th:if="${page.startPage != 1}" class="product-left">‹</label>
                <span th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}" th:with="condition=${i==page.number}">
                    <strong th:if="${condition}"><label th:text="${i}"></label></strong>
                    <label class="page-number" th:unless="${condition}" th:text="${i}"></label>
                </span>
                <label th:if="${page.endPage != page.maxPage}" class="product-right">›</label>
            </div>
        </article>
        <footer id="footer"></footer>
    </div>
    <script type="application/javascript" src="js/main.js"></script>
    <script type="application/javascript">includeHtml("aside", "fragments/searchBar.html");</script>
    <script type="application/javascript">
        (() => {
                const selector = document.querySelector("#page-selector");
                selector.addEventListener("click", function(event) {
                    const target = event.target;
                    if(target.nodeName === "LABEL") {
                        let check;
                        let page;
                        if(target.classList.contains("page-number")) {
                            check = true;
                            page = target.innerHTML;
                        }else if(target.classList.contains("product-left")) {
                            check = true;
                            if(target.nextElementSibling.nodeName === "SPAN") {
                                page = Number(target.nextElementSibling.textContent) - 10;
                            }
                        }
                        else if(target.classList.contains("product-right")) {
                            check = true;
                            if(target.previousElementSibling.nodeName === "SPAN") {
                                page = Number(target.previousElementSibling.textContent) + 1;
                            }
                        }
                        if(check) {
                            const url = new URL(location.href);
                            if(url.searchParams.has("page")) {
                                url.searchParams.set("page", page);
                            }else {
                                url.searchParams.append("page", page);
                            }
                            location.href = url;
                        }
                    }
                });
            }
        )();
    </script>
</body>
</html>