<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="login" th:content="${session.USER}">
    <title>JysMoll Product Register</title>
    <link rel="stylesheet" href="../css/productregister.css" />
</head>
<body>
    <div id="container">
        <header id="header"></header>
        <aside id="aside"></aside>
        <article id="article">
            <h2>상품등록</h2>
            <form id="product-register-form" action="/products/register" method="post" th:object="${productForm}">
                <input name="productName" id="product-title" type="text" placeholder="title" th:field="*{productName}" autofocus />
                <textarea name="description" id="product-description" type="text" placeholder="description" th:field="*{description}"></textarea>
                <input name="value" id="product-price" type="text" placeholder="💲" th:field="*{value} "/>
                <select name="types" id="product-type" th:field="*{types}">
                    <optgroup th:each="category : ${categories}" th:label="${category.categoryName}">
                        <option th:each="child : ${category.childs}" th:value="${child.id}" th:label="${child.categoryName}"></option>
                    </optgroup>
                </select>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input id="product-register-ok" type="submit" value="Ok" />
                <input id="product-register-cancel" type="button" value="Cancel" onclick="location.href='http://localhost/myinfo'" />
            </form>
        </article>
        <footer id="footer"></footer>
    </div>
    <script type="application/javascript" src="../js/main.js"></script>
    <script type="application/javascript">includeHtml("aside", "../fragments/aside.html");</script>
</body>
</html>