<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="login" th:content="${session.USER}">
    <title>JysMoll Product Details</title>
    <link rel="stylesheet" href="../css/productdetail.css"/>
</head>
<body>
    <div id="container">
        <header id="header"></header>
        <article id="article">
            <h2>상품정보</h2>
            <form id="product-detail-form">
                <input name="productName" id="product-title" type="text" readonly />
                <textarea name="description" id="product-description" type="text" readonly ></textarea>
                <div id="product-detail-info">
                    <input id="product-price" type="text" readonly />
                    <input id="product-type" type="text" readonly />
                </div>
                <div id="product-button-list">
                    <input id="product-buy" type="submit" value="💲" readonly />
                    <input id="product-referrer" type="button" value="👍" readonly />
                    <input id="product-cart" type="button" value="🛒" readonly />
                    <input id="product-list" type="button" value="📃" readonly />
                </div>
            </form>
        </article>
        <footer id="footer"></footer>
    </div>
    <script type="application/javascript" src="../js/main.js"></script>
</body>
</html>