<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JysMoll SignUp</title>
    <link rel="stylesheet" href="css/signup.css" />
</head>
<body>
    <div id="container">
        <header id="header"></header>
        <article id="article">
            <h2>회원가입</h2>
            <form id="signup-form" action="/signup" method="post" th:object="${signup}">
                <input th:field="*{username}" class="member-input" id="member-id" type="text" placeholder="Identity" autofocus />
                <input th:field="*{nickname}" class="member-input" id="member-nickname" type="text" placeholder="NickName" />
                <input th:field="*{password}" class="member-input" id="member-password" type="password" placeholder="Password" />
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input id="member-signup-ok" type="submit" value="SignUp" />
                <input id="member-signup-cancel" type="button" value="Cancel" onclick="window.location.href='http://localhost/signin'" />
            </form>
        </article>
        <footer id="footer"></footer>
    </div>
    <script type="application/javascript" src="js/main.js"></script>
</body>
</html>